body {
    background-color: black;
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
    padding-left: 150px;
    padding-right: 150px;
}
.post {
    background-color: white;
}
.post-header {
    padding: 10px;
}
.logo {
    display: inline-block;
    position: relative;
    bottom: 5px;
    width: 5%;
    text-align: left;
}

.alex {
    display: inline-block;
    width: 20%;
    text-align: left;
    font-size: 14px;
    bottom: 5px;
}

.dots {
    display: inline-block;
    position: relative;
    bottom: 5px;
    width: 73%;
    text-align: right;
}

.postimage {
    width:100%;
    object-fit: fill;
}

.iconpack {
    display: inline-block;
    width: 25%;
    margin-left: 2px;
    padding: 5px;
}
.icon {
    display: inline-block;
    float: right;
    margin-right: 2px;
    padding: 5px;
}
.post-body p {
    padding: 5px;
    font-size: 13px;
}